<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <title>User Profile</title>
</head>
<body>
    <div class="title-div">
        <h1>Your Account</h1>
    </div>    
    <div class="profile-container">
        <div class="profile-picture">
            <% if (user.profilePicture && user.profilePicture.data) { %>
                <img src="data:<%= user.profilePicture.contentType %>;base64,<%= user.profilePicture.data.toString('base64') %>" alt="Profile Picture" id="profileImg" style="width: 100px; height: 100px; border-radius: 50%;">
            <% } else { %>
                <img src="/images/DefaultProfilePic.jpg" alt="Profile Picture" id="profileImg" style="width: 100px; height: 100px; border-radius: 50%;">
            <% } %>
            <!-- Upload Profile Picture Form -->
            <form id="uploadForm" action="/profile/upload" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="userId" value="<%= user._id %>">
                <input type="file" name="profilePicture" accept="image/*" required>
                <button type="submit">Upload New Profile Picture</button>
            </form>
        </div>
        <div class="user-info">
            <h2 id="userName"><%= user.firstName %> <%= user.lastName %></h2>
            <p id="userEmail">Email: <%= user.email %></p>
            <p id="userPhone">Phone: <%= user.phoneNumber %></p>
            <p id="userAddress">Address: <%= user.address %></p>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>
</body>
</html>
