<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="shortcut icon" href="/images/Logo-white.png">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    
    <div class="main-content">
        <div class="title-div">
            <h1>Home</h1>
        </div>
        <div class="sections">
            <div class="section invoices">
                <h2>Your Invoices</h2>
                <div class="filter-buttons">
                    <button class="filter-button" data-filter="all" onclick="filterInvoices('all')">All</button>
                    <button class="filter-button" data-filter="paid" onclick="filterInvoices('paid')">Paid</button>
                    <button class="filter-button active" data-filter="unpaid" onclick="filterInvoices('unpaid')">Unpaid</button>
                </div>
                <p class="invoiceFlag" id="invoiceFlag" hidden></p>
                <% if (user.invoices && user.invoices.length > 0) { %>
                    <div class="invoices-container">
                        <% user.invoices.forEach(invoice => { %>
                            <div class="invoice-item <%= invoice.isPaid %>">
                                <div class="invoice-details">
                                    <p><strong>Invoice Number:</strong> <%= invoice.invoiceNumber %></p>
                                    <p><strong>Due Date:</strong> <%= new Date(invoice.dueDate).toLocaleDateString("en-US") %></p>
                                    <p><strong>Total:</strong> $<%= invoice.total %></p>
                                </div>
                                <p class="invoice-status"><strong>Status:</strong> <%= invoice.isPaid ? "Paid" : "Not Paid" %></p>
                                <% if (invoice.isPaid === false) { %>
                                    <button class="payInvoiceButton" id="payInvoiceButton" onclick="window.location.href='/pay?invoice=<%= invoice.invoiceNumber %>'">Pay</button>
                                <% } %>
                            </div>                            
                        <% }) %>
                    </div>
                <% } else { %>
                    <p>You have no invoices at the moment.</p>
                <% } %>
            </div>
            <div class="section appointments">
                <h2>Your Appointments</h2>
                <div class="filter-buttons">
                    <button class="filter-button" data-filter="all" onclick="filterAppointments('all')">All</button>
                    <button class="filter-button active" data-filter="Scheduled" onclick="filterAppointments('Scheduled')">Scheduled</button>
                    <button class="filter-button" data-filter="Completed" onclick="filterAppointments('Completed')">Completed</button>
                    <button class="filter-button" data-filter="Cancelled" onclick="filterAppointments('Cancelled')">Cancelled</button>
                </div>
                <p class="appointmentFlag" id="appointmentFlag" hidden></p>
                <% if (user.appointments && user.appointments.length > 0) { %>
                    <div class="appointments-container">
                        <% user.appointments.forEach(appointment => { %>
                            <div class="appointment-item <%= appointment.status %>">
                                <div class="appointment-details">
                                    <p><strong>Subject:</strong> <%= appointment.courseName %></p>
                                    <p><strong>Date:</strong> <%= appointment.appointmentDate %></p>
                                    <p><strong>Time:</strong> <%= appointment.appointmentTime %></p>
                                </div>
                                <p class="appointment-status"><strong>Status:</strong> <%= appointment.status %></p>
                                <% if (appointment.status === 'Scheduled') { %>
                                    <button class="cancelAppointmentButton" id="cancelAppointmentButton" onclick="cancelAppointment('<%= appointment._id %>')">Cancel</button>
                                <% } %>
                            </div>                            
                        <% }) %>
                    </div>
                <% } else { %>
                    <p>You have no upcoming appointments.</p>
                <% } %>
            </div>
        </div>
        <div class="signup">
            <h2>Sign Up for the Next Session</h2>
            <button class="button_to_schedule"><a href="/schedule">Schedule Now</a></button>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            filterInvoices('unpaid')
            filterAppointments('Scheduled')
        })

        async function cancelAppointment(appointmentId) {
            if (!confirm("Are you sure you want to cancel this appointment?")) return

            if (!appointmentId) {
                document.getElementById("appointmentFlag").innerHTML = "Unable to cancel appointment"
                document.getElementById("appointmentFlag").style.color = "#D8000C"
                document.getElementById("appointmentFlag").style.backgroundColor = "#FFBABA"
                document.getElementById("appointmentFlag").style.display = "block"
                return;
            }

            disableButton("cancelAppointmentButton")
    
            const result = await fetch("/api/cancel-appointment", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify ({
                    appointmentId
                })
            })

            const message = await result.json()

            document.getElementById("appointmentFlag").innerHTML = message["message"]
            document.getElementById("appointmentFlag").style.display = "block"
            
            if (result.status === 200) {
                document.getElementById("appointmentFlag").style.color = "#0a3755"
                document.getElementById("appointmentFlag").style.backgroundColor = "#b7dffa"
                await sleep(3000)
                location.reload(true)
            }
            else {
                document.getElementById("appointmentFlag").style.color = "#D8000C"
                document.getElementById("appointmentFlag").style.backgroundColor = "#FFBABA"
                enableButton("cancelAppointmentButton")
                await sleep(3000)
            }
        }

        async function payInvoice(invoiceNumber) {
            if (!invoiceNumber) {
                document.getElementById("invoiceFlag").innerHTML = "Unable to pay invoice. Contact support"
                document.getElementById("invoiceFlag").style.color = "#D8000C"
                document.getElementById("invoiceFlag").style.backgroundColor = "#FFBABA"
                document.getElementById("invoiceFlag").style.display = "block"
                return;
            }

            disableButton("payInvoiceButton")
    
            const result = await fetch("/api/pay-invoice", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify ({
                    invoiceNumber
                })
            })

            const message = await result.json()

            document.getElementById("invoiceFlag").innerHTML = message["message"]
            document.getElementById("invoiceFlag").style.display = "block"
            
            if (result.status === 200) {
                document.getElementById("invoiceFlag").style.color = "#0a3755"
                document.getElementById("invoiceFlag").style.backgroundColor = "#b7dffa"
                await sleep(3000)
                location.reload(true)
            }
            else {
                document.getElementById("invoiceFlag").style.color = "#D8000C"
                document.getElementById("invoiceFlag").style.backgroundColor = "#FFBABA"
                enableButton("payInvoiceButton")
                await sleep(3000)
            }
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function disableButton(buttonId) {
            document.getElementById(buttonId).disabled = true
            document.getElementById(buttonId).style.backgroundColor = "#b7dffa"
            document.getElementById(buttonId).style.cursor = "default"
        }

        function enableButton(buttonId) {
            document.getElementById(buttonId).disabled = false
            document.getElementById(buttonId).style.backgroundColor = "#0a3755"
            document.getElementById(buttonId).style.cursor = "pointer"
        }

        function filterAppointments() {
            const filter = document.getElementById("appointmentFilter").value;
            const items = document.querySelectorAll(".appointment-item");

            items.forEach(item => {
                const status = item.classList.contains("Scheduled")
                    ? "Scheduled"
                    : item.classList.contains("Completed")
                    ? "Completed"
                    : "Cancelled";

                item.style.display = filter === "all" || status === filter ? "flex" : "none";
            });
        }

        function filterAppointments(filter) {
            const buttons = document.querySelectorAll(".appointments .filter-button")
            buttons.forEach(button => {
                button.classList.toggle("active", button.getAttribute("data-filter") === filter)
            })

            const items = document.querySelectorAll(".appointment-item")
            items.forEach(item => {
                const status = item.classList.contains("Scheduled")
                    ? "Scheduled"
                    : item.classList.contains("Completed")
                    ? "Completed"
                    : "Cancelled"

                item.style.display = filter === "all" || status === filter ? "flex" : "none"
            })
        }

        function filterInvoices(filter) {
            const buttons = document.querySelectorAll(".invoices .filter-button")
            buttons.forEach(button => {
                button.classList.toggle("active", button.getAttribute("data-filter") === filter)
            })

            const items = document.querySelectorAll(".invoice-item")
            items.forEach(item => {
                const isPaid = item.classList.contains("true")
                const status = isPaid ? "paid" : "unpaid"

                item.style.display = filter === "all" || status === filter ? "flex" : "none"
            })
        }
    </script> 
</body>
</html>
