<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <title>User Profile</title>
</head>
<body>
    <div class="title-div">
        <h1>Your Account</h1>
    </div>    
    <div class="profile-container">
        <div class="profile-picture">
            <% if (user.profilePicture && user.profilePicture.data) { %>
                <img src="data:<%= user.profilePicture.contentType %>;base64,<%= user.profilePicture.data.toString('base64') %>" alt="Profile Picture" id="profileImg" style="width: 100px; height: 100px; border-radius: 50%;">
            <% } else { %>
                <img src="/images/DefaultProfilePic.jpg" alt="Profile Picture" id="profileImg" style="width: 100px; height: 100px; border-radius: 50%;">
            <% } %>
            <!-- Upload Profile Picture Form -->
            <form id="uploadForm" action="/profile/upload" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="userId" value="<%= user._id %>">
                <input type="file" name="profilePicture" accept="image/*" required>
                <button type="submit">Upload New Profile Picture</button>
            </form>
        </div>
        <div class="user-info">
            <h2 id="userName"><%= user.firstName %> <%= user.lastName %></h2>
            <p id="userEmail">Email: <%= user.email %></p>
            <p id="userPhone">Phone: <%= user.phoneNumber %></p>
            <p id="userAddress">Address: <%= user.address %></p>
        </div>
    </div>

    <div class="edit-profile-container">
        <h3>Edit Your Information</h3>
        <form action="/profile/edit" method="POST">
            <input type="hidden" name="userId" value="<%= user._id %>">

            <label for="address">Address:</label>
            <input type="text" name="address" id="address" value="<%= user.address %>" required>

            <label for="phone">Phone Number:</label>
            <input type="tel" name="phoneNumber" id="phone" value="<%= user.phoneNumber %>" required>

            <label for="major">Major:</label>
            <input type="text" name="major" id="major" value="<%= user.major || '' %>">

            <label for="middleSchoolYear">Middle School Year:</label>
            <input type="text" name="middleSchoolYear" id="middleSchoolYear" value="<%= user.middleSchoolYear || '' %>">

            <label for="highSchoolYear">High School Year:</label>
            <input type="text" name="highSchoolYear" id="highSchoolYear" value="<%= user.highSchoolYear || '' %>">

            <button type="submit">Save Changes</button>
        </form>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>
